a{
  display: block ;
}
.whole{
  padding: 50px 0px;
  background: linear-gradient(-150deg,white,#254f1a);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.view{
  /* position: relative; */
  height:calc(80%);
  width: 300px;
  border: 2px solid white ;
  padding: 20px;
  border-radius: 20px;
  background-color: #254f1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#slack{
  display: none;
}
#profile_img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: 0px 2px 10px black;
}
#twitter{
  font-weight: bold;
  color: white;
}
div>a{
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  /* width: ; */
  border-radius: 20px;
  background-color: #d2e823;
}
div>a:nth-child(2n+2){
  background-color:white;
}
.anchor>div>div{
  width: 200px ;
  background-color: white;
  font-size: .8rem;
  padding: 10px;
  border-radius: 10px ;
  margin-bottom: 10px;
  box-shadow: 0px 1px 4px black;
  border: 1px solid grey;
}